fastapi
uvicorn[standard]
python-multipart
jinja2
sqlalchemy
pydantic
python-jose[cryptography]
passlib[bcrypt]
fastapi-socketio
greenlet
eventlet
gunicorn
werkzeug
python-engineio
python-socketio
requests
numpy
scipy
matplotlib
pillow
zipfile36