{% extends "layout.html" %}
{% block content %}
    <div id="alert" role="alert" style="display: none">

    </div>
    <div class="content-section">
        <form>
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Start your Test</legend>
                <div class="form-group">
                    <label class="form-control-label" for="title">Title</label>
                    <input class="form-control form-control-lg" id="title" name="title" required type="text" value="">
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="description">Description</label>
                    <textarea class="form-control form-control-lg" id="description" name="description"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="iteration" type="number">Iterations</label>
                    <input class="form-control form-control-lg" id="iteration" name="iteration" required="" type="number" value="">
                </div>
                <div class="form-check">
                    <input class="form-check-input" id="ch1" name="ch1" type="checkbox" value="y">
                    <label class="form-check-label" for="ch1">Channel 1</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" id="ch2" name="ch2" type="checkbox" value="y">
                    <label class="form-check-label" for="ch2">Channel 2</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" id="ch3" name="ch3" type="checkbox" value="y">
                    <label class="form-check-label" for="ch3">Channel 3</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" id="ch4" name="ch4" type="checkbox" value="y">
                    <label class="form-check-label" for="ch4">Channel 4</label>
                </div>
            </fieldset>

            <div class="form-group">
                <input class="btn btn-success" id="start" name="start" type="submit" value="Start">
                <input class="btn btn-danger" id="stop" name="stop" type="submit" value="Stop">
            </div>
        </form>
    </div>
{% endblock content %}

{% block sidebar %}
    <div class="content-section" id="progress">
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-steel progress-bar-animated" id="prg" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style=""></div>
        </div>
        <p class='text-muted'>Captures: <span id="timing"></span></p>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script>
        const socket = io()
        socket.on('connect', () => {
            socket.emit('connection', {data: 'I am connected!'});
        });

        const progress = document.getElementById("progress")
        let prg = document.getElementById("prg")
        let alert = document.getElementById("alert")
        let timing = document.getElementById("timing")
        progress.style.display = "none"

        function disabler(first, second, third=""){
            start.disabled = first
            pause.disabled = second
            progress.style.display = third
        }
        function alertHandler(display='none', type="", content=""){
            alert.style.display = display
            alert.className="alert alert-dismissible fade show " + type
            alert.textContent = content
        }

        var form = {}
        {% if device %}
            let title = document.getElementById("title");
            let description = document.getElementById("description");
            let iterations = document.getElementById("iteration");
            let channels = document.querySelectorAll("input[type='checkbox']");
            let start = document.getElementById("start")
            let pause = document.getElementById("stop")
            pause.disabled = true

            start.onclick = () => {
                alertHandler()
                form['title'] = title.value
                form['description'] = description.value
                form['iterations'] = parseInt(iterations.value)
                form['ch1'] = channels[0].checked
                form['ch2'] = channels[1].checked
                form['ch3'] = channels[2].checked
                form['ch4'] = channels[3].checked
                disabler(true, false)
                form['start'] = true
                form['stop'] = false
                socket.emit('form', JSON.stringify(form))
            }

            pause.onclick = () => {
                alertHandler()
                {#var form = {}#}
                disabler(false, true, "none")
                form.start = false
                form.stop = true
                socket.emit('form', JSON.stringify(form))
            }
        {% else %}
            let connect = document.getElementById("connect")

            connect.onclick = () => {
                form['connect'] = true
                form['start'] = false
                form['stop'] = false
                socket.emit('form', JSON.stringify(form))
            }
        {% endif %}

        socket.on('result', data => {
            let count = (data/parseInt(iterations.value))*100
            prg.style.width= count + "%"
            timing.textContent = iterations.value + (data/parseInt(iterations.value)).toString()
        })

        socket.on('status', result => {
            if (result.status === "danger")
                alertHandler("" ,"alert-danger", "There is something Wrong with the Device!")
            else
                alertHandler("" ,"alert-warning", "Stopped!")
        })
        socket.on('redirect', link => {
            window.location.href = link.destination
        })
    </script>
{% endblock sidebar %}