{% extends "layout.html" %}
{% block content %}
    <form onsubmit="return false;">
        <div class="content-section">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Start your Test</legend>
                <div class="form-group">
                    {{ form.title.label(class="form-control-label") }}
                    {% if form.title.errors %}
                        {{ form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.description.label(class="form-control-label") }}
                    {% if form.description.errors %}
                        {{ form.description(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.description.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.description(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="iteration" type="number">Iterations</label>
                    <input class="form-control form-control-lg" id="iteration" name="iteration" required="" type="number" value="">
                </div>
                <div class="form-check">
                    {{ form.ch1(class="form-check-input") }}
                    {{ form.ch1.label(class="form-check-label") }}
                </div>
                <div class="form-check">
                    {{ form.ch2(class="form-check-input") }}
                    {{ form.ch2.label(class="form-check-label") }}
                </div>
                <div class="form-check">
                    {{ form.ch3(class="form-check-input") }}
                    {{ form.ch3.label(class="form-check-label") }}
                </div>
                <div class="form-check">
                    {{ form.ch4(class="form-check-input") }}
                    {{ form.ch4.label(class="form-check-label") }}
                </div>
            </fieldset>
            {% if device %}
                <div class="form-group">
                    {{ form.start(class="btn btn-success") }}
                    {{ form.stop(class="btn btn-danger") }}
                </div>
            {% else %}
                <h3>Please try connecting again or Check for errors</h3>
                <div class="form-group">
                    {{ form.connect(class="btn btn-info") }}
                </div>      
            {% endif %}
        </div>
    </form>
{% endblock content %}

{% block sidebar %}
    <div class="content-section" id="progress" style="display: none">
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-steel progress-bar-animated" id="prg" role="progressbar" style="width: 50%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <p class='text-muted'>Estimated time: <span id="timing"></span></p>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script>
        document.addEventListener('DomContentLoaded', () =>{

            const socket = io()
            socket.on('connect', function() {
                socket.emit('my event', {data: 'I\'m connected!'});
            });

            let title = document.getElementById("title");
            let description = document.getElementById("description");
            let iterations = document.getElementById("iteration");
            let channels = document.querySelectorAll("input[type='checkbox']");
            let start = document.getElementById("start")
            let pause = document.getElementById("stop")
            const progress = document.getElementById("progress")
            let prg = document.getElementById("prg")
            pause.disabled = true

            function disabler(first, second, third){
                start.disabled = first
                pause.disabled = second
                progress.disabled = third
            }

            start.onclick = () => {
                var form = {
                    title: title.value,
                    description: description.value,
                    iterations: iterations.value,
                    ch1: channels[0].checked,
                    ch2: channels[1].checked,
                    ch3: channels[2].checked,
                    ch4: channels[3].checked
                }
                prg.ariaValuemax = document.getElementById("iteration").value
                //disabler(true, false, false)
                form.start = true
                form.false = false
                socket.emit('form', JSON.stringify(form))
            }

            pause.onclick = () => {
                var form = {}
                disabler(false, true, true)
                form.start = false
                form.false = true
                socket.emit('form', JSON.stringify(form))
            }

            socket.on('result', (results) => {
                prg.ariaValuenow = results.itr
            })
        })
    </script>
{% endblock sidebar %}